<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
    window.c_o = {
      cloud_name: "{{options.CLOUD_NAME}}",
      api_key: "{{options.API_KEY}}",
      api_secret: "{{options.API_SECRET}}"
    }
    </script>
    <script type="application/javascript" src="bundle.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>

    <div id='root'>Hello handlebars</div>

  </body>
</html>
